body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../img/filed.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.card-game table { 
    margin: 20px 0;
    border-spacing: 15px; 
}

.card-game td { 
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    background-color: #101011;
    color: white;
    border-radius: 50%; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease;
}

.card-game td:hover {
    background-color: #435a93; 
}

td.shown {
    background-color: rgb(233, 246, 147);
    color: black; 
}

.statusBar, .hints, .difficulty-container, .score-table-container {
    margin: 10px 0;
    background-color: rgba(193, 235, 253, 0.7); 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.btn {
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
}

.btn.difficulty {
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn.safe-click-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.btn.safe-click-button:hover {
    background-color: #45a049;
}

.score-table {
    width: 80%; 
    margin: 0 auto;
    border-collapse: collapse; 
    border-spacing: 0; 
}

.score-table th, .score-table td {
    padding: 8px;
    border: 2px solid #ddd; 
    text-align: center;
    border-radius: 0; 
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: none; 
}

.score-table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.score-table td {
    font-size: 16px;
}

.statusBar span {
    font-size: 16px;
    margin: 0 10px;
}

.statusBar .restart {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px; 
    text-align: center;
}

.timer {
    font-family: monospace;
    font-size: 18px;
    white-space: nowrap;
}
